.modalwrapper1{
    background-color: black;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(#0047AB, #001b40);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeindown 0.5s;
}

.modal1{
    height: 600px;
    min-width: 600px;
    background-color: white;
}

@keyframes fadeindown{

    0%{
        opacity: 0;
        transform: translateY(-50px)
    }
    100%{
        opacity: 1;
        transform: translateY(0);

    }
}
